.Board {
  .CardComponent {
    margin: 0 auto;
    margin-top: 30px;
    width: 55%;
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
  }
  .cardTitle {
    font-size: 28px;
    font-weight: 600;
    color: rgba($color: #757575, $alpha: 1);
  }
  .cardDetail {
    font-size: 18px;
    color: rgba($color: #757575, $alpha: 1);
  }
  .PostButton {
    margin-top: 20px;
    width: 80px;
  }
  .boardContent {
    margin: 20px 0px;
    white-space: pre-wrap;
    color: rgba($color: #757575, $alpha: 1);
  }
  hr {
    border-top: 1px solid rgb(170, 170, 170);
  }
}
.boardContent {
  .topText {
    display: flex;
    justify-content: space-between;
    .replyButton {
      margin-bottom: -7px;
      .RiReplyFill {
        margin-bottom: 5px;
      }
    }
  }
  .replyId {
    color: rgba($color: #168eff, $alpha: 1);
    cursor: pointer;
    text-decoration: none;
  }
}
